conc_all.nc filter=lfs diff=lfs merge=lfs -text
cns_500_12001400.nc filter=lfs diff=lfs merge=lfs -text
cns_1600_490670.nc filter=lfs diff=lfs merge=lfs -text
cns_500_10701200.nc filter=lfs diff=lfs merge=lfs -text
cns_600_630700.nc filter=lfs diff=lfs merge=lfs -text
cns_356_700850.nc filter=lfs diff=lfs merge=lfs -text
cns_0_12001400.nc filter=lfs diff=lfs merge=lfs -text
cns_360_700850.nc filter=lfs diff=lfs merge=lfs -text
cns_600_490850.nc filter=lfs diff=lfs merge=lfs -text
cns_660_490850.nc filter=lfs diff=lfs merge=lfs -text
cns_4000_12001400.nc filter=lfs diff=lfs merge=lfs -text
cns_660_43um.nc filter=lfs diff=lfs merge=lfs -text
cns_280_560630.nc filter=lfs diff=lfs merge=lfs -text
cns_310_10701200.nc filter=lfs diff=lfs merge=lfs -text
cns_356_490630.nc filter=lfs diff=lfs merge=lfs -text
cns_375_12001400.nc filter=lfs diff=lfs merge=lfs -text
omgsw_data.nc filter=lfs diff=lfs merge=lfs -text
cns_1600_490850.nc filter=lfs diff=lfs merge=lfs -text
cns_660_630700.nc filter=lfs diff=lfs merge=lfs -text
cns_330_43um.nc filter=lfs diff=lfs merge=lfs -text
ocean_neutral.res.nc filter=lfs diff=lfs merge=lfs -text
cns_1750_12001400.nc filter=lfs diff=lfs merge=lfs -text
cns_310_12001400.nc filter=lfs diff=lfs merge=lfs -text
cns_340_560630.nc filter=lfs diff=lfs merge=lfs -text
cns_360_630700.nc filter=lfs diff=lfs merge=lfs -text
asmsw_data.nc filter=lfs diff=lfs merge=lfs -text
ocean_velocity_advection.res.nc filter=lfs diff=lfs merge=lfs -text
cns_1320_490850.nc filter=lfs diff=lfs merge=lfs -text
cns_165_490850.nc filter=lfs diff=lfs merge=lfs -text
cns_180_12001400.nc filter=lfs diff=lfs merge=lfs -text
cns_348_700850.nc filter=lfs diff=lfs merge=lfs -text
atmos_mosaic_tile1Xocean_mosaic_tile1.nc filter=lfs diff=lfs merge=lfs -text
land_mosaic_tile1Xocean_mosaic_tile1.nc filter=lfs diff=lfs merge=lfs -text
cns_1600_670850.nc filter=lfs diff=lfs merge=lfs -text
cns_165_630700.nc filter=lfs diff=lfs merge=lfs -text
cns_275_560630.nc filter=lfs diff=lfs merge=lfs -text
extsw_data.nc filter=lfs diff=lfs merge=lfs -text
cns_165_490630.nc filter=lfs diff=lfs merge=lfs -text
cns_600_700850.nc filter=lfs diff=lfs merge=lfs -text
ice_model.res.nc filter=lfs diff=lfs merge=lfs -text
cns_180_10701200.nc filter=lfs diff=lfs merge=lfs -text
cns_180_560630.nc filter=lfs diff=lfs merge=lfs -text
cns_500_560630.nc filter=lfs diff=lfs merge=lfs -text
cns_660_700850.nc filter=lfs diff=lfs merge=lfs -text
physics_driver.res.nc filter=lfs diff=lfs merge=lfs -text
cns_1600_43um.nc filter=lfs diff=lfs merge=lfs -text
cns_356_43um.nc filter=lfs diff=lfs merge=lfs -text
cns_275_10701200.nc filter=lfs diff=lfs merge=lfs -text
cns_300_490630.nc filter=lfs diff=lfs merge=lfs -text
cns_300_490850.nc filter=lfs diff=lfs merge=lfs -text
cns_360_490630.nc filter=lfs diff=lfs merge=lfs -text
cns_1320_490630.nc filter=lfs diff=lfs merge=lfs -text
cns_310_560630.nc filter=lfs diff=lfs merge=lfs -text
cns_330_490850.nc filter=lfs diff=lfs merge=lfs -text
cns_360_43um.nc filter=lfs diff=lfs merge=lfs -text
cns_1250_12001400.nc filter=lfs diff=lfs merge=lfs -text
cns_280_10701200.nc filter=lfs diff=lfs merge=lfs -text
cns_300_700850.nc filter=lfs diff=lfs merge=lfs -text
cns_348_630700.nc filter=lfs diff=lfs merge=lfs -text
Herold_aerosol_26lev.nc filter=lfs diff=lfs merge=lfs -text
ocean_age.res.nc filter=lfs diff=lfs merge=lfs -text
cns_0_490630.nc filter=lfs diff=lfs merge=lfs -text
cns_0_490850.nc filter=lfs diff=lfs merge=lfs -text
ocean_hgrid_1x1.5_82S.nc filter=lfs diff=lfs merge=lfs -text
ocean_thickness.res.nc filter=lfs diff=lfs merge=lfs -text
cns_1320_630700.nc filter=lfs diff=lfs merge=lfs -text
fv_rst.res.nc filter=lfs diff=lfs merge=lfs -text
cns_1600_630700.nc filter=lfs diff=lfs merge=lfs -text
cns_0_43um.nc filter=lfs diff=lfs merge=lfs -text
strat_cloud.res.nc filter=lfs diff=lfs merge=lfs -text
ocean_density.res.nc filter=lfs diff=lfs merge=lfs -text
cns_1600_700850.nc filter=lfs diff=lfs merge=lfs -text
cns_330_490630.nc filter=lfs diff=lfs merge=lfs -text
cns_360_490850.nc filter=lfs diff=lfs merge=lfs -text
cns_280_12001400.nc filter=lfs diff=lfs merge=lfs -text
cns_0_560630.nc filter=lfs diff=lfs merge=lfs -text
cns_0_630700.nc filter=lfs diff=lfs merge=lfs -text
cns_375_560630.nc filter=lfs diff=lfs merge=lfs -text
o3.climatology.nc filter=lfs diff=lfs merge=lfs -text
cns_0_700850.nc filter=lfs diff=lfs merge=lfs -text
cns_600_43um.nc filter=lfs diff=lfs merge=lfs -text
land_hgrid.nc filter=lfs diff=lfs merge=lfs -text
cns_375_10701200.nc filter=lfs diff=lfs merge=lfs -text
ocean_barotropic.res.nc filter=lfs diff=lfs merge=lfs -text
cns_300_43um.nc filter=lfs diff=lfs merge=lfs -text
ocean_temp_salt.res.nc filter=lfs diff=lfs merge=lfs -text
cns_1600_490630.nc filter=lfs diff=lfs merge=lfs -text
cns_1320_700850.nc filter=lfs diff=lfs merge=lfs -text
cns_2800_12001400.nc filter=lfs diff=lfs merge=lfs -text
cns_330_630700.nc filter=lfs diff=lfs merge=lfs -text
cns_340_12001400.nc filter=lfs diff=lfs merge=lfs -text
atmos_tracers.res.nc filter=lfs diff=lfs merge=lfs -text
cns_165_43um.nc filter=lfs diff=lfs merge=lfs -text
cns_700_12001400.nc filter=lfs diff=lfs merge=lfs -text
ocean_velocity.res.nc filter=lfs diff=lfs merge=lfs -text
cns_165_700850.nc filter=lfs diff=lfs merge=lfs -text
cns_330_700850.nc filter=lfs diff=lfs merge=lfs -text
cns_356_490850.nc filter=lfs diff=lfs merge=lfs -text
cns_0_10701200.nc filter=lfs diff=lfs merge=lfs -text
cns_275_12001400.nc filter=lfs diff=lfs merge=lfs -text
ocean_con_temp.res.nc filter=lfs diff=lfs merge=lfs -text
cns_340_10701200.nc filter=lfs diff=lfs merge=lfs -text
atmos_hgrid.nc filter=lfs diff=lfs merge=lfs -text
cns_348_43um.nc filter=lfs diff=lfs merge=lfs -text
cns_2250_12001400.nc filter=lfs diff=lfs merge=lfs -text
cns_300_630700.nc filter=lfs diff=lfs merge=lfs -text
cns_348_490630.nc filter=lfs diff=lfs merge=lfs -text
cns_356_630700.nc filter=lfs diff=lfs merge=lfs -text
cns_660_490630.nc filter=lfs diff=lfs merge=lfs -text
cns_1320_43um.nc filter=lfs diff=lfs merge=lfs -text
extlw_data.nc filter=lfs diff=lfs merge=lfs -text
cns_300_12001400.nc filter=lfs diff=lfs merge=lfs -text
cns_348_490850.nc filter=lfs diff=lfs merge=lfs -text
cns_600_490630.nc filter=lfs diff=lfs merge=lfs -text
